@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: inherit;
}

.navbar {
  /* position: fixed; */
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 30px 150px;
  background-color: gray;
  color: white;
}
.navbar .logo a {
  font-size: 20px;
  font-weight: 600;
}

.navbar ul {
  display: flex;
  align-items: center;
  gap: 20px;
  color: whitesmoke;
}
